@use "../settings/mixins";
@use "../settings/variables";

#wrapper{
	position: relative;
	overflow-x: hidden;
}

.container{
	position: relative;
	width: 100%;
	max-width: 100%;
	padding: 0 48rem;
	
		@include mixins.maxWidth(variables.$sm){
			padding: 0 16rem;
		}
	
		@media (min-width: 1500px) {
			max-width: 1500rem;
		}
		@media (min-width: 1200px) {
			max-width: 100%;
		}
		@media (min-width: 992px) {
			max-width: 100%;
		}
		@media (min-width: 768px) {
			max-width: 100%;
		}
		@media (min-width: 576px) {
			max-width: 100%;
		}
}

.alert{
	font: var(--font-body-xs-regular);
	color: var(--color-gray-1);
	background-color: var(--color-gray-7);
	padding: 8rem 0;
	text-align: center;
	
		p{
			font-size: inherit;
		}
}

.banner{
	border-radius: 32rem;
	overflow: hidden;
}

.section{
	position: relative;
	
		&-description{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 24rem;
			
				@include mixins.maxWidth(variables.$sm){
					gap: 22rem;
				}
		}
}

.copyright{
	font: var(--font-body-xs-regular);
	color: var(--color-gray-4);
	margin-top: 25rem;
	
		@include mixins.maxWidth(variables.$sm){
			margin-top: 33rem;
		}
}

.social{
	display: flex;
	align-items: center;
	gap: 16rem;
	margin: 16rem 0;
	
		&-item{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40rem;
			height: 40rem;
			background-color: var(--color-gray-1);
			border-radius: 4rem;
			
				img{
					width: 24rem;
					height: 24rem;
				}
		}
}

.form{
		&-row{
			display: flex;
			gap: 24rem;
			
				@include mixins.maxWidth(variables.$sm){
					flex-direction: column;
					gap: 16rem;
				}
		}
}

.fieldset{
	
		&-detail{
			color: var(--color-black);
			font: var(--font-body-xs-medium);
			margin-bottom: 8rem;
			
				span{
					color: var(--color-secondary);
				}
		}
	
		&-row{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 70rem;
			
				@include mixins.maxWidth(variables.$sm){
					flex-direction: column;
					align-items: flex-start;
					margin-bottom: 16rem;
					gap: 16rem;
				}
			
				.input-container{
						&-radio{
							width: auto;
						}
						&-radios{
							flex-direction: row;
							column-gap: 70rem;
							
								@include mixins.maxWidth(variables.$sm){
									flex-direction: column;
								}
						}
				}
		}
}

.radio-switcher{
	padding-top: 32rem;
	
		&-item{
			display: none;
		}
}

.payment-icons{
	display: flex;
	gap: 8rem;
	align-items: center;
	margin-bottom: 24rem;
	
		img{
			width: 35rem;
			height: 25rem;
			object-fit: contain;
			object-position: center;
		}
}

[class$="tip"]{
	display: inline-block;
	font: var(--font-bosy-xxs-regular);
}

[class$="not-valid-tip"]{
	color: var(--color-system-error);
}

[class$="response-output"]{
	font: var(--font-body-s-regular);
	border-radius: 4rem;
	padding: 6rem 24rem 4rem !important;
	margin: 10rem 48rem !important;
	max-width: 1344rem;
	
		@media (min-width: 1500px) {
			max-width: 1400rem;
			margin: 10rem auto !important;
		}
	
		@include mixins.maxWidth(variables.$sm){
			margin: 10rem 16rem !important;
		}
}

.w{
		&-full{
			width: 100%;
		}
}

$spacings: 8, 16, 24, 32;

@each $spacing in $spacings {
	.mt-#{$spacing} {
		margin-top: #{$spacing}rem;
	}
	.mb-#{$spacing} {
    margin-bottom: #{$spacing}rem;
  }
	.mr-#{$spacing} {
    margin-right: #{$spacing}rem;
  }
	.ml-#{$spacing} {
    margin-left: #{$spacing}rem;
  }
	
	.pt-#{$spacing} {
		padding-top: #{$spacing}rem;
	}
	.pb-#{$spacing} {
    padding-bottom: #{$spacing}rem;
  }
	.pl-#{$spacing} {
		padding-left: #{$spacing}rem;
	}
	.pr-#{$spacing} {
    padding-right: #{$spacing}rem;
  }
}