@use "../settings/mixins";
@use "../settings/variables";

.event{
		@include mixins.maxWidth(variables.$md){
			margin-bottom: 64rem;
		}
	
		@include mixins.maxWidth(variables.$sm){
			margin-bottom: 32rem;
		}
	
		&-thumb{
			height: 432rem;
			overflow: hidden;
			border-radius: 8px;
			
				@include mixins.maxWidth(variables.$md){
					height: auto;
				}
			
				img{
					@include mixins.imageCover(center);
				}
		}
		&-content{
			padding-top: 16rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 17rem;
			
				@include mixins.maxWidth(variables.$sm){
					gap: 12rem;
				}
			
				&-title{
					font: var(--font-body-l-medium);
					color: var(--color-gray-1);
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
					overflow: hidden;
					
						@include mixins.maxWidth(variables.$md){
							display: block;
						}
				}
			
				&-date{
					color: var(--color-gray-3);
					font: var(--font-body-s-medium);
				}
		}
}