@use "../settings/mixins";
@use "../settings/variables";

.footer{
	background-color: var(--color-black);
	padding: 48rem 0;
	color: var(--color-white);
	
		&-contacts{
			max-width: 300rem;
			
				@include mixins.maxWidth(variables.$sm){
					padding-bottom: 7rem;
				}
			
				&-title{
					margin-bottom: 18rem;
					
						@include mixins.maxWidth(variables.$sm){
              margin-bottom: 15rem;
            }
				}
			
				&-list{
						li{
						
						}
				}
		}
	
		&-nav{
			display: flex;
			flex-direction: column;
			gap: 48rem;
			margin-bottom: 24rem;
			
				@include mixins.maxWidth(variables.$sm){
					gap: 22rem;
				}
			
				&-item{
				
				}
			
				&-title{
					margin-bottom: 18rem;
				}
		}
	
		&-actions{
			display: flex;
			flex-direction: column;
			gap: 16rem;
			
				.btn{
					width: 100%;
				}
		}
	
		ul{
			display: flex;
			flex-direction: column;
			gap: 8rem;
			
				@include mixins.maxWidth(variables.$sm){
					gap: 8.4rem;
				}
			
				li{
					font: var(--font-body-xs-medium);
					color: var(--color-gray-5);
					
						a{
							color: var(--color-gray-5);
							font: var(--font-body-xs-medium);
							transition: color var(--duration) var(--ease);
							
								@include mixins.hover(variables.$md){
									&:hover{
                    color: var(--color-secondary);
                  }
								}
						}
				}
		}
}