@use "../settings/mixins";
@use "../settings/variables";

.hero{
	padding: 96rem 0;
	
		@include mixins.maxWidth(variables.$sm){
			padding: 48rem 0;
		}
	
		&-box{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			gap: 16rem;
			max-width: 546rem;
			height: 100%;
			
				@include mixins.maxWidth(variables.$sm){
					gap: 14rem;
					align-items: center;
					text-align: center;
				}
			
				h1{
					text-transform: capitalize;
				}
			
				.btn{
					margin-top: 32rem;
					
						@include mixins.maxWidth(variables.$sm){
							margin-top: 10rem;
						}
				}
		}
	
		&-banner{
			border-radius: 32px;
			overflow: hidden;
			height: 418rem;
			
				@include mixins.maxWidth(variables.$sm){
					height: 67vw;
					margin-top: 40rem;
				}
			
				img{
					@include mixins.imageCover(center);
				}
		}
}