@use "../settings/mixins";
@use "../settings/variables";

.table{
	
		&-detail{
			font: var(--font-body-xs-regular);
			color: var(--color-gray-3);
			margin-bottom: 24rem;
			display: inline-block;
		}
	
		&-item{
			width: 100%;
			border-spacing: 0;
			margin-bottom: 24rem;
			
				th{
					text-transform: uppercase;
					font: var(--font-bosy-xxs-semiBold);
					color: var(--color-gray-4);
					text-align: left;
					background-color: var(--color-gray-6);
					padding: 13rem 12rem;
					position: relative;
					transition: color var(--duration) var(--ease);
					
						&.active{
							color: var(--color-black);
						}
					
						&:nth-child(1){
							border-radius: 4px 0 0 4px;
						}
					
						&:last-child{
							border-radius: 0 4px 4px 0;
							text-align: center;
						}
					
						@include mixins.hover(variables.$md){
							&:hover{
								cursor: pointer;
							}
						}
				}
			
				tr{
					position: relative;
					
						&:nth-child(odd){
							td{
								background-color: var(--color-white);
							}
						}
					
						&:nth-child(even){
							td{
								background-color: var(--color-gray-7);
							}
						}
				}
			
				td{
					padding: 17rem 12rem;
					color: var(--color-gray-3);
					font: var(--font-body-xs-regular);
					
						@include mixins.maxWidth(variables.$sm){
							padding: 0 64rem;
						}
					
						&:nth-child(1){
							border-radius: 4px 0 0 4px;
							
								@include mixins.maxWidth(variables.$sm){
									padding-top: 12rem;
									border-radius: 4px 4px 0 0;
								}
						}
						
						&:last-child{
							border-radius: 0 4px 4px 0;
							text-align: center;
							
								@include mixins.maxWidth(variables.$sm){
									padding-bottom: 12rem;
									border-radius: 0 0 4px 4px;
								}
						}
				}
			
				thead{
						@include mixins.maxWidth(variables.$sm){
							display: none;
						}
				}
				
				tbody{
						tr{
							@include mixins.maxWidth(variables.$sm){
								display: flex;
								flex-direction: column;
							}
						}
				}
			
				.btn-simple{
					color: var(--color-white);
					
					@include mixins.maxWidth(variables.$sm){
						position: absolute;
						top: 12rem;
						right: 12rem;
					}
				}
		}
	
		&-control{
			display: flex;
			justify-content: space-between;
			
				@include mixins.maxWidth(variables.$sm){
					flex-direction: column;
					gap: 24rem;
				}
			
				.input{
						&-item{
							height: 40rem;
							font: var(--font-body-xs-semiBold);
							color: var(--color-gray-4);
							padding: 0 8rem 0 28rem;
						}
						&-container{
							display: inline-flex;
							width: auto;
						}
					
						&-select-icon{
							right: auto;
							left: 8rem;
							top: 50%;
							margin-top: -8rem;
							width: 16rem;
							height: 16rem;
							color: var(--color-secondary);
						}
				}
		}
	
		.avatar{
			@include mixins.maxWidth(variables.$sm){
				margin-left: -52rem;
			}
		}
}

.sort{
	position: absolute;
	right: 12rem;
	top: 50%;
	margin-top: -8rem;
	width: 16rem;
	height: 16rem;
	color: var(--color-gray-4);
	
		svg{
			width: 100%;
			height: 100%;
		}
	
		path{
			transition: all var(--duration) var(--ease);
		}
	
		&[data-sort-by="asc"]{
			path{
				&:nth-child(1){
					fill: var(--color-black);
				}
			}
		}
	
		&[data-sort-by="desc"]{
			path{
				&:nth-child(2){
					fill: var(--color-black);
				}
			}
		}
}