@use "../../settings/mixins";
@use "../../settings/variables";

.plates{
		&-item{
				&-content{
					padding: 48rem;
					background-color: var(--color-gray-7);
					border-radius: 32px;
					
						@include mixins.maxWidth(variables.$sm){
							padding: 32rem 16rem;
							font: var(--font-body-s-regular);
						}
					
						h1,h2,h3,h4,h5,h6{
							margin-bottom: 24rem;
						}
					
						a:not([class]){
							color: var(--color-primary);
							text-decoration: underline;
						}
					
						p{
							line-height: 133%;
								&:not(:last-child):not([class]){
									margin-bottom: 24rem;
								}
							
								@include mixins.maxWidth(variables.$sm){
									line-height: 137%;
								}
						}
					
						ul{
							padding-left: 27rem;
							margin: 24rem 0;
						}
					
						li{
							list-style: disc;
							line-height: 133%;
							
								@include mixins.maxWidth(variables.$sm){
									line-height: 137%;
								}
						}
				}
		}
}

#switcher-plates{
	.plates-item{
		display: none;
	}
}