@use "../../settings/mixins";
@use "../../settings/variables";

.sidebar{
	margin-right: -23rem;
		&-label{
			color: var(--color-primary);
			text-transform: uppercase;
			font: var(--font-body-s-medium);
		}
	
		&-list{
			padding: 32rem 0;
			
				a, button{
					color: inherit;
					padding: 12px 16rem;
					display: block;
					width: 100%;
					font: inherit;
					border-radius: 4rem;
					background-color: transparent;
					text-align: left;
					transition: background-color var(--duration) var(--ease), color var(--duration) var(--ease);
					
						@include mixins.hover(variables.$md){
							&:hover:not(.active){
								color: var(--color-secondary);
							}
						}
					
						&.active{
							color: var(--color-white);
							background-color: var(--color-secondary);
						}
				}
			
				li{
					color: var(--color-gray-3);
					font: var(--font-body-m-medium);
					line-height: 133%;
					
						ul{
							
								li{
									padding: 0 22rem;
								}
						}
				}
			
				ul{
					display: flex;
					flex-direction: column;
					gap: 3.6rem;
				}
		}
}