$headings: (1, 2, 3, 4, 5, 6);

@each $heading in $headings {
	h#{$heading}, .h#{$heading} {
		margin: 0;
		font: var(--font-heading-h#{$heading});
		color: var(--color-black);
		text-transform: capitalize;
	}
}

