@use "mixins";

/* Breakpoints */
$xs: 480;
$sm: 767;
$md: 991;
$lg: 1200;
$xl: 1400;

:root {
	/* Fonts */
	--font-family-primary-regular: "Archivo-Regular";
	--font-family-primary-medium: "Archivo-Medium";
	--font-family-primary-semiBold: "Archivo-SemiBold";
	--font-family-primary-bold: "Archivo-Bold";
	--font-family-primary-extraBold: "Archivo-ExtraBold";
	
	/* Headings */
	--font-heading-h1: 700 64rem / 110% var(--font-family-primary-bold);
	--font-heading-h2: 700 48rem / 110% var(--font-family-primary-bold);
	--font-heading-h3: 700 32rem / 110% var(--font-family-primary-bold);
	--font-heading-h4: 700 26rem / 110% var(--font-family-primary-bold);
	--font-heading-h5: 700 24rem / 110% var(--font-family-primary-bold);
	--font-heading-h6: 600 18rem / 135% var(--font-family-primary-semiBold);
	
	/* Body */
	--font-body-l-medium: 500 24rem / 115% var(--font-family-primary-medium);
	--font-body-l-regular: 400 24rem / 140% var(--font-family-primary-regular);
	
	--font-body-m-regular: 400 18rem / 134% var(--font-family-primary-regular);
	--font-body-m-medium: 500 18rem / 145% var(--font-family-primary-medium);
	--font-body-m-semiBold: 600 18rem / 150% var(--font-family-primary-semiBold);
	
	--font-body-s-semiBold: 600 16rem / 135% var(--font-family-primary-semiBold);
	--font-body-s-medium: 500 16rem / 135% var(--font-family-primary-medium);
	--font-body-s-regular: 400 16rem / 135% var(--font-family-primary-regular);
	
	--font-body-xs-semiBold: 600 14rem / 140% var(--font-family-primary-semiBold);
	--font-body-xs-medium: 500 14rem / 140% var(--font-family-primary-medium);
	--font-body-xs-regular: 400 14rem / 140% var(--font-family-primary-regular);
	
	--font-bosy-xxs-semiBold: 600 12rem / 140% var(--font-family-primary-semiBold);
	--font-bosy-xxs-regular: 400 12rem / 140% var(--font-family-primary-regular);
	
	/* Buttons */
	--font-button: 600 18rem / 135% var(--font-family-primary-semiBold);
	--font-link: 500 18rem / 135% var(--font-family-primary-medium);
	
	/* Colors */
	//--color-primary:                                  #003A78;
	--color-primary:                                  #0D1843;
	//--color-secondary:                                #135AA7;
	--color-secondary:                                #012F60;
	--color-primary-light:                            #5394DA;
	--color-primary-orange:                           #E7661E;
	--color-primary-orange-hover:                     #F05600;
	--color-black:                                    #0B1720;
	--color-gray-1:                                   #1E2730;
	--color-gray-2:                                   #4A4E56;
	--color-gray-3:                                   #848A90;
	--color-gray-4:                                   #989EA5;
	--color-gray-5:                                   #E7E9EC;
	--color-gray-6:                                   #F1F1F3;
	--color-gray-7:                                   #F6F6F9;
	--color-white:                                    #FFFFFF;
	
	--color-system-error:                             #CB0A21;
	//--color-system-warm:                              #F27502;
	--color-system-warm:                              #E7661E;
	--color-system-success:                           #2BAC47;
	
	/* Transition */
	--duration:                            .2s;
	--ease:                                ease;
}

@include mixins.maxWidth($md){
	:root {
		/* Headings */
		--font-heading-h1: 700 48rem / 110% var(--font-family-primary-bold);
		--font-heading-h3: 700 24rem / 110% var(--font-family-primary-bold);
		
		/* Body */
		--font-body-m-regular: 400 18rem / 135% var(--font-family-primary-regular);
	}
}