<div class="board-item">
	<div class="row">
		<div class="col-md-6">
			<div class="board-item-text">
				<div class="board-item-title">
					<p>@@title</p>
				</div>
				<div class="board-item-description">
					<p>@@description</p>
				</div>
				<div class="board-item-action">
					<a href="@@actionUrl" class="btn btn-outline btn-lg">
						<span class="btn-label">@@actionLabel</span>
						<span class="btn-icon">
							@@include('../icons/arrow-right-top.html', {})
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="board-item-banner">
				<img src="@@banner" alt="@@title" />
			</div>
		</div>
	</div>
</div>