<footer class="footer">
  <div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="footer-contacts">
					<p class="footer-contacts-title">Contacts</p>
					<ul class="footer-contacts-list">
						<li>Address: 30 N Gould Street, Suite 29147, Sheridan, WY 82801, United States of America</li>
						<li>E-mail: <a href="mailto:iapsc@iapsc.org">iapsc@iapsc.org</a></li>
						<li>Phone: <a href="tel:17163280402">(1) 716-328-0402</a></li>
					</ul>
					<div class="social">
						<a href="#" target="_blank" class="social-item">
							<img src="img/icons/instagram.svg" alt="Instagram" />
						</a>
						<a href="#" target="_blank" class="social-item">
							<img src="img/icons/facebook.svg" alt="Facebook" />
						</a>
						<a href="#" target="_blank" class="social-item">
							<img src="img/icons/linkedin.svg" alt="LinkedIn" />
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer-nav">
					<div class="footer-nav-item">
						<p class="footer-nav-title">About Us</p>
						<ul>
							<li><a href="#">By-Laws</a></li>
							<li><a href="#">IAPSC Code of Ethics</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Certified Security</a></li>
							<li><a href="#">Consultant</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Officers & Directors</a></li>
							<li><a href="#">Security Best Practices</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer-nav">
					<div class="footer-nav-item">
						<p class="footer-nav-title">Media Services</p>
						<ul>
							<li><a href="#">Press Kit</a></li>
							<li><a href="#">Security Speaker Bureau</a></li>
						</ul>
					</div>
					<div class="footer-nav-item">
						<p class="footer-nav-title">Become a Member</p>
						<ul>
							<li><a href="#">Benefits</a></li>
							<li><a href="#">Classifications</a></li>
							<li><a href="#">Qualifications</a></li>
							<li><a href="#">Testimonials</a></li>
							<li><a href="#">Apply for Membership</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer-actions">
					<a href="#" class="btn btn-lg btn-white">
						<span class="btn-label">Find a consultant</span>
					</a>
					<a href="#" class="btn btn-lg btn-white btn-outline">
						<span class="btn-label">Member section</span>
					</a>
				</div>
			</div>
		</div>
	  <div class="row">
		  <div class="col-12">
			 <p class="copyright">&copy; 2024 International Association of Professional Security Consultants | Privacy Statement</p>
		  </div>
	  </div>
  </div>
</footer>