<header class="header">
	<div class="alert">
		<p>The most widely recognized and respected organization of independent security consultants since 1984.</p>
	</div>
	<div class="header-panel">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-3">
				  <a href="/" class="header-logo">
					  <img src="img/logo.png" alt="International Association of Professional Security Consultants"/>
				  </a>
			  </div>
			  <div class="col-md-9">
				  <div class="header-nav">
					  <nav>
						  <ul>
							  <li><a href="#">About</a></li>
							  <li><a href="#">Join</a></li>
							  <li><a href="#">Member portal</a></li>
							  <li><a href="#">Events & News</a></li>
							  <li><a href="#">Press</a></li>
						  </ul>
					  </nav>
					  <div class="header-nav-actions">
						  <a href="#" class="btn">Find a consultant</a>
						  <a href="#" class="btn btn-outline">Members</a>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
	</div>
</header>