<tr>
	<td>
		<div class="avatar">
			<div class="avatar-thumb">
				<span class="avatar-thumb-initials">AD</span>
				<img src="@@thumb" alt="@@name">
			</div>
			<div class="avatar-detail">
				<p class="avatar-detail-title">@@name</p>
				<p class="avatar-detail-subtitle">@@position</p>
			</div>
		</div>
	</td>
	<td>@@company</td>
	<td>@@city</td>
	<td>@@country</td>
	<td>@@state</td>
	<td>
		<a href="/member-search-profile.html" class="btn btn-simple">
			<span class="btn-icon">
				@@include('../icons/arrow-right-top.html', {})
			</span>
		</a>
	</td>
</tr>