@use "../../settings/mixins";
@use "../../settings/variables";

.hero-application{
	padding: 64rem 0;
	color: var(--color-gray-3);
	
		&-actions{
			display: flex;
			gap: 16rem;
			padding: 24rem 0;
			
				@include mixins.maxWidth(variables.$sm){
					flex-direction: column;
				}
		}
	
		p + h6{
			margin-top: 24rem;
		}
}