@use "settings/variables";
@use "settings/mixins";
@use "settings/fonts";
@use "settings/null";
@use "settings/typography";
@use "libs/grid";
@use "components";
@use "sections";
@use "pages";

html {
	font-size: calc(100vw / 1440);
	
		@media only screen and (min-width: 1500px) {
			font-size: calc(100vw / 1920);
		}
	
		@include mixins.maxWidth(variables.$md){
			font-size: calc(100vw / 991);
		}
	
		@include mixins.maxWidth(variables.$sm){
			font-size: calc(100vw / 390);
		}
}

body{
	background-color: var(--color-white);
	font: var(--font-body-m-regular);
	color: var(--color-gray-2);
}

