@use "settings/variables";
@use "settings/mixins";
@use "settings/fonts";
@use "settings/null";
@use "settings/typography";
@use "libs/grid";
@use "components";
@use "pages";

html {
	font-size: calc(100vw / 1440);
	
		@include mixins.maxWidth(variables.$xs){
			font-size: calc(100vw / 360);
		}
}

body{
	background-color: var(--color-white);
	font: var(--font-body-m-regular);
	color: var(--color-gray-2);
}

